@import "tailwindcss";

body {
  background: radial-gradient(
    86.86% 63.63% at 50% 97.75%,
    #080276 11.17%,
    #12043b 61.17%,
    #0c0030 100%
  );
  font-family: var(--font-primary);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: center;
  overflow-x: hidden;
  display: flex;
  color: white;
}
